* {
    box-sizing: border-box;
  }
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/*ABout us section*/

.about-us-section {
width: 80%;
margin: 0 auto;
}
.heading-of-description {
    font-size: 17px;
    font-weight: 600;
    font-family: Verdana, sans-serif;
}
.first-part-of-description {
    width: 390px;
    font-size: 19px;
    font-family: Verdana,  sans-serif;
    line-height: 25px;

}
.color-full-part {
    color: #3bc1ed;
    font-family: verdana, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    
}
.Shanta-group-description {
    color: #9a9a9a;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    margin-top: 15px;
    text-align: justify;
    width: 96%;
}
.description-devider {
    border-left: 2px solid #9a9a9a;
    height: 200px;
}
.second-part-heading {
    padding-left: 15px;
    font-family: Arial;
    font-size: large;

} 
.second-part-description {
    font-size: 12px;
    padding-left: 15px;
    color: #9a9a9a;
    font-family: Verdana, sans-serif;
    padding-top: 10px;
    width: 420px;
    text-align: justify;
}
.description-indicator{
    background: url(Project1-Image/a.png);
    background-repeat: no-repeat;
}

.float-left {
    float: left;
}


/*Footer-section*/

.Footer-section {
    width: 100%;
    height: auto;
    border: none;
    background: url(Project1-Image/footer-image.png);
    margin-top: 100px;
}

.text-7 {
    font-family: Verdana, sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    padding: 90px 30px 30px 200px;
}
.text-8 {
    font-family: Verdana, sans-serif;
    color: #9a9a9a;
    padding-left: 200px;
    font-size: 12px;
    line-height: 20px;
}

.text-9 {
    color: #fff;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    padding-left: 41%;
    line-height: 20px;
}
.border-2 {
    border: 1px solid #ccc;
    width: 160px;
    margin-left: 41%;
    margin-top: 3px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;  
}
.left-right {
    transform: translate(180px, 13px);
} 

.text-10 {
    font-family: Verdana, sans-serif;
    font-weight: 550;
    font-size: 15px;
    color: #fff;
    padding-top: 70px;
    padding-left: 55px;
}
.icon-img {
    transform: translate(10px,8px);
}
.ul-0 {
    padding-top: 15px;
    padding-left: 70px;
}
.ul-1 {
    list-style-image: url(Project1-Image/about-us-list-style.jpg);
}

.ul:hover {
    color: #fff;
}
.for-li {
    color: #9a9a9a;
    line-height: 25px;
    font-family: Verdana, sans-serif;
    font-size: small;
}
.for-li:hover {
    color: #fff;
}

.text-11 {
    font-family: Verdana, sans-serif;
    font-weight: 550;
    font-size: 15px;
    color: #fff;
    padding-top: 70px;
    padding-left: 80px;
    
}
.text-12 {
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: #fff;
    margin: 32px 0 0 76px;
}
.text-13 {
    font-size: 12px;
    font-family: Verdana, sans-serif;
    color: #fff;
    margin-left: 76px;
    margin-top: 18px;
}

.text-14 {
    font-family: Verdana, sans-serif;
    font-weight: 550;
    font-size: 15px;
    color: #fff;
    padding-top: 85px;
    padding-left: 60px;

}
.form-1 {
 
    padding-top: 18px;
    padding-left: 40px;
    margin: 20px;
}
.inp-1 {
    padding: 10px 14px;
    width: 240px;
    margin: 8px 0;
}
.input-1{
    padding: 6px 15px;
     
}
.input-1[type=submit]:hover {
    background-color: #3bc1ed;
}
.text-15 {
    font-family: Verdana, sans-serif;
    font-weight: 550;
    font-size: 15px;
    color: #fff;
    padding-left: 60px;
}
.ul-2 {
    list-style: none;
    position: relative;
    padding: 0;
}
.li-2 {
    display: block;   
    position: absolute;
    top: 0;
    height: 24px;

    
}

.facebook {
    width: 32;
    height: 63;
    margin-right: 3px;
    background: url(Project1-Image/facebook-icon.png)-32px, 0;
    background-repeat: no-repeat;
    margin-top: -16px;
    margin-left: 60px;
   


}
.facebook:hover {
    background: url(Project1-Image/facebook-icon.png)64px, -3px;
}
.Twitter{
    width: 32;
    height: 63;
    background: url(Project1-Image/twitter-icon.png)-32px, 0;
    background-repeat: no-repeat;
    margin-top: -16px;
    margin-right: 3px;
    
}
.Twitter:hover {
    background: url(Project1-Image/twitter-icon.png)64px, 45px;
}
.Linkd-in{
    width: 32;
    height: 63;
    background: url(Project1-Image/linked-in-icon.png)-32px, 0;
    background-repeat: no-repeat;
    margin-top: -16px;
    margin-right: 3px;
}
.Linkd-in:hover {
    background: url(Project1-Image/linked-in-icon.png)64px, 45px;
}
.Mail{
    width: 32;
    height: 63;
    background: url(Project1-Image/mail-icon.png)-32px, 0;
    background-repeat: no-repeat;
    margin-top: -16px;
    margin-right: 3px;
}
.Mail:hover {
    background: url(Project1-Image/mail-icon.png)64px, 45px;
}
.edit-icon{
    width: 32;
    height: 63;
    background: url(Project1-Image/edit-icon.png)-32px, 0;
    background-repeat: no-repeat;
    margin-top: -16px;
    
}
.edit-icon:hover{
    background: url(Project1-Image/edit-icon.png)64px;
}

/*Image view section*/
.image-view-section {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 80px;
}
.first-building {
    border-style: none;
    width: 200px;
    height: 250px;
    background-image: url(Project1-Image/building1.png);
    display: block;

}
.first-building-detail {
    width: 200px;
    height: 45px;
    background-color: #fff;
    opacity: 0.8;
    text-align: center;
    padding-top: 10px;
    font-size: small;
}

.first-building:hover .first-building-detail {
  color: #3bc1ed;
  opacity: 0.9;

}