* {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
/*ABout us section*/

.heading-of-description {
  font-size: 25px;
  font-weight: 700;
  font-family: Verdana, sans-serif;
  margin-bottom: 20px;
}
.first-part-width {
  width: 60%;
}

.first-image-width {
  width: 34%;
}

.first-part-of-description {
  font-size: 22px;
  font-family: Verdana, sans-serif;
  line-height: 35px;
  margin-left: 15px;
}

.first-description-width {
  width: 64%;
}

.color-full-part {
  color: #36cecf;
  font-family: verdana, sans-serif;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 12px;
}

.Shanta-group-width {
  width: 96%;
}

.Shanta-group-description {
  color: #848484;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  margin-top: 15px;
  text-align: justify;

}
.description-devider {
  border-left: 4px solid #dddddd;
  height: 250px;
  width: 38%;
  margin-left: 20px;
}
.second-part-heading {
  margin-top: 14px;
  padding-left: 23px;
  font-family: Arial;
  font-size: large;

}
.second-part-description {
  font-size: 12px;
  padding-left: 35px;
  color: #848484;
  font-family: Verdana, sans-serif;
  padding-top: 12px;
  text-align: justify;
}
.more-style {
  color: #36cecf;
  text-decoration: none;
}
.description-indicator {
  background: url(Project1-Image/a.png);
  background-repeat: no-repeat;
  height: 10px;
  width: 10px;
  margin-top: 20px;
}

.float-left {
  float: left;
}

/*Footer-section*/

.Footer-section {
  background: url(Project1-Image/footer-image.png);
  margin-top: 100px;
  position: relative;
}

.headings-padding {
  padding-top: 60px;
}

.testimonial-width {
  width: 25%;
}
.Testimonial {
  font-family: Verdana, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  padding-top: 10px;
}
.Testimonial-description {
  font-family: Verdana, sans-serif;
  color: #9a9a9a;
  font-size: 14px;
  margin-top: 35px;
  text-align: justify;
}

.Testimonial-writter {
  color: #fff;
  font-size: 14px;
  font-family: Verdana, sans-serif;
}

.Testimonial-bottom {
  margin-bottom: 55px;
}

 .horizontal-line {
  width: 160px;
  text-align: left;
  margin-top: 12px;
  } 

.left-arrow {
  border-radius: 50px;
  margin-right: 5px;
}

.Quick-link-width {
  width: 25%;
}

.Quick-link-heading {
  font-family: Verdana, sans-serif;
  font-weight: 550;
  font-size: 13px;
  color: #fff;
  padding-left: 45px;
  padding-bottom: 17px;
  padding-top: 10px;
}
 .icon-img {
  padding-left: 20px;
}

.left-arrow-padding {
  padding-left: 18px;
}

.Quick-link-ul {
  padding-left: 60px;

}
.ul-image {
  list-style-image: url(Project1-Image/about-us-list-style.jpg);
}

.ul:hover {
  color: #fff;
}
.for-li {
  color: #9a9a9a;
  line-height: 25px;
  font-family: Verdana, sans-serif;
  font-size: small;
  margin-top: 5px;
}
.for-li:hover {
  color: #fff;
}

.Adress-width {
  width: 20%;
}
.Adress-heading {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  padding-bottom: 17px;
  padding-top: 10px;
}
.icon-img-address {
  padding-left: 40px;
} 
.Adress-Name {
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  color: #fff;
  margin-top: 20px;
}
.Adress-location {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  color: #ddd4d4;
  margin-top: 18px;
}

.Address-contact {
  font-family: Verdana, sans-serif;
  font-weight: 550;
  font-size: 12px;
  color: #a09c9c;
  padding-top: 20px;

}

.subscribe-width {
  width: 30%;
}
.subscribe-heading {
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    color: #fff;
    margin-left: 76px;
    padding-top: 10px;
}

.subscribe-form {

  padding-top: 5px;
  padding-left: 40px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.form-input {
  padding: 10px 14px;
  width: 100%;
  margin: 8px 0;
}
.form-submit {
  padding: 6px 15px;
}
.form-submit[type="submit"]:hover {
  background-color: #36cecf;
}
.explore-heading {
  font-family: Arial;
  font-weight: 550;
  font-size: 17px;
  color: #fff;
  padding-left: 60px;
}
.explore-ul {
  height: 63px;
  list-style: none;
  position: relative;
  padding: 0;
}

.facebook {
  width: 32px;
  height: 63px;
  margin-right: 3px;
  background: url(Project1-Image/facebook-icon.png)-32px, 0;
  background-repeat: no-repeat;
  margin-top: -16px;
  margin-left: 60px;
  cursor: pointer;
}
.facebook:hover {
  background: url(Project1-Image/facebook-icon.png) 64px, -3px;
  background-repeat: no-repeat;
  background-position-x: left;
}
.Twitter {
  width: 32;
  height: 63;
  background: url(Project1-Image/twitter-icon.png)-32px, 0;
  background-repeat: no-repeat;
  margin-top: -16px;
  margin-right: 3px;
}
.Twitter:hover {
  background: url(Project1-Image/twitter-icon.png) 64px, 45px;
  background-repeat: no-repeat;
  background-position-x: left;
}
.Linkd-in {
  width: 32;
  height: 63;
  background: url(Project1-Image/linked-in-icon.png)-32px, 0;
  background-repeat: no-repeat;
  margin-top: -16px;
  margin-right: 3px;
}
.Linkd-in:hover {
  background: url(Project1-Image/linked-in-icon.png) 64px, 45px;
  background-repeat: no-repeat;
  background-position-x: left;
}
.Mail {
  width: 32;
  height: 63;
  background: url(Project1-Image/mail-icon.png)-32px, 0;
  background-repeat: no-repeat;
  margin-top: -16px;
  margin-right: 3px;
}
.Mail:hover {
  background: url(Project1-Image/mail-icon.png) 64px, 45px;
  background-repeat: no-repeat;
  background-position-x: left;
}
.edit-icon {
  width: 32;
  height: 63;
  background: url(Project1-Image/edit-icon.png)-32px, 0;
  background-repeat: no-repeat;
  margin-top: -16px;
}
.edit-icon:hover {
  background: url(Project1-Image/edit-icon.png) 64px;
  background-repeat: no-repeat;
  background-position-x: left;
}

/*Image view section*/
  .image-view-section {
  margin-bottom: 80px;
}

.buildings-width {
  width: 25%;
  position: relative;
  padding: 0 2px;
}

.second-container {
  position: absolute;
  width: 246px;
  height: 320px;
  top: 0;
}

.text-area {
  background: url(Project1-Image/text-backgorund.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 87px;
}

.text-element {
  color: #000000;
  bottom: 0;
  text-align: center;
  opacity: 0.9;
  font-weight: bold;
  padding-top: 15px;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.first-small {
  font-size: 12px; 
  color: #a5a7aa; 
  font-weight: 460;
}

.second-container:hover {
background: url(Project1-Image/explore.png);
background-position-x: center;
opacity: 0.9;
}

.second-container:hover .text-element {
  display: none;

}

 .container-without-text {
  position: absolute;
  width: 246px;
  height: 320px;
  top: 0;
} 

.container-without-text:hover {
  background: url(Project1-Image/explore.png);
  background-position-x: center;
  opacity: 0.9;
}
 

.second-building {
  background: url(Project1-Image/building2.png);
  width: 100%;
  height: 385px;
}

.second-building:hover {
  background: url(Project1-Image/explore.png);
  background-position-x: center;
  opacity: 0.9;
}

.third-container {
  position: absolute;
  width: 246px;
  height: 320px;
  top: 0;
}

.third-small {
  font-size: 12px;
  color: #a5a7aa;
  font-weight: 460;
}

.third-container:hover {
  background: url(Project1-Image/explore.png);
  background-position-x: center;
  opacity: 0.9;
}

.third-container:hover .text-element {
  display: none;
}

.forth-container {
  position: absolute;
  width: 246px;
  height: 320px;
  top: 0;
}
.last-big {
  padding-left: 30px;
  padding-right: 30px;
}

.last-small {
  font-size: 12px;
  font-weight: 100;
  color: #a5a7aa;
}

.forth-container:hover {
  background: url(Project1-Image/explore.png);
  background-position-x: center;
  opacity: 0.9;
}

.forth-container:hover .text-area {
  display: none;
}

/* Project features section */

  .project-features-section {
    margin-bottom: 60px;
    margin-top: 20px;
  }

  .feature-underline {
    border-bottom: 1px solid #ece0e0;
    width: 475px;
  }

  .features-title {
    font-size: 15px;
    font-family: Verdana, sans-serif;
    font-weight: 700;
    padding-top: 6px;
  }

  .feature-residential {
    background: url(Project1-Image/residential.png)0 0;
    background-repeat: no-repeat;
    width: 24px;
    height: 30px;
    margin-left: 30px;
  }

  .available-features {
    font-size: 13px;
    font-family: verdana, sans-serif;
    padding-left: 10px;
    border-right: 1px solid #ece0e0;
    height: 35px;
    width: 110px;
    padding-top: 10px;
  }
  .residential-border {
    height: 31px;
  }

  .residential-border:hover .text-color-residential{
    color: #36cecf;
  }

  .residential-border:hover .feature-residential {
    background: url(Project1-Image/residential.png)46px 0;
    background-repeat: no-repeat;
    background-position-x: right;
  }

  .text-color-residential {
    color: #9a9a9a;
    text-decoration: none;
  }


  .commercial-features {
    font-size: 13px;
    font-family: verdana, sans-serif;
    color: #06a8de;
    padding-left: 13px;
    padding-top: 10px;
  }

  .feature-commercial {
    background: url(Project1-Image/commercial.png)-24px 0;
    background-repeat: no-repeat;
    margin-left: 17px;
    margin-top: 5px;
    width: 24px;
    height: 30px;
  
  }

  .text-color-commercial {
    color: #9a9a9a;
    text-decoration: none;
    bottom: 7px;
   
  }

  .commercial-border {
    height: 30px;
  }

  .commercial-border:hover .feature-commercial {
    background: url(Project1-Image/commercial.png)44px 0;
    background-repeat: no-repeat;
    background-position-x: left;
  }

  .commercial-border:hover .text-color-commercial {
    color: #36cecf;
  }

  .border-bottom {
    border-bottom: 1px solid #ece0e0;
    width: 475px;
  }
  
.float-right {
  float: right;
}

 /* information section */

 .information-section {
  margin-bottom: 10px;
  position: relative;

 }

 .information-ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  right: 0;
  
 }


 .information-a-area {
  width: 140px;
  display: block;
  padding: 14px 15px;
  background-color: #000000;
  border-bottom: 1px solid #a0a0a0;

 }

 .information-a-text {
  text-decoration: none;
  font-size: 17px;
  padding-left: 14px;
  color: #e9e5e5;

 }

 .landowner-a-area {
  width: 140px;
  display: block;
  padding: 14px 20px;
  background-color: #ff6347;
  margin-top: 35px;
 }
 .buyers-a-area {
  right: 0;
  width: 140px;
  display: block;
  padding: 14px 20px;
  background-color: #ff6347;
  border-top: 1px solid #ece4e4;
 }

 .website-heading {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 37px;
  margin-right: 30px;
  margin-top: 100px;
  word-spacing: -5px;
 }

 .heading-description {
  color: #a9a9a9;
  margin-top: 20px;
  line-height: 20px;
  font-size: 17px;
  margin-bottom: 100px;
  text-align: center;
 }

 /* Graphics-section */

 .graphics-section {
  width: 100%;
 }

 .AKASH-class {
  font-family: Verdana, sans-serif;
  margin-bottom: 16px;
  margin-left: 15px;
 }

 .Akash-description {
  font-size: 12px;
  color: #4e4c4c; 
  font-weight: 500;
  margin-left: 15px;
 }

 .front-image {
  width: 100%;
  height: 400px;
  background: url(Project1-Image/slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: round;
 }

 .information-box {
  position: absolute;
  border: none;
  width: 360px;
  height: 145px;
  font-family: Verdana, sans-serif;
  background-color: #ececec;
  opacity: 0.9;
  top: 150px;
  left: 23px;
  padding-left: 20px;
  padding-right: 20px;
 }

 .icon-left {
  position: absolute;
  right: 65px; 
  bottom: 13px; 
  font-size: 26px; 
  color: #777777;
 }

 .icon-right {
  position: absolute; 
  right: 28px; 
  bottom: 13px; 
  font-size: 26px; 
  color: #777777;
 }

 /* header-section */

 .header-section {
  border: none;
  width: 100%;
  height: 90px;
  background-color: #000000;
 }

 .project-title {
  color: #a29e9e;
  font-size: 22px; 
  padding-left: 28px; 
  padding-top: 52px
 }

 .logo-position {
  position: absolute;
  top: 17px;
 }
.unordered-list {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navigation-area {
  display: block;
  padding: 13px 20px;
  text-decoration: none;
  text-align: center;
  color: #e0d2d2;
  margin-left: 10px;
  position: relative;
}

.navigation-area-home {
  display: block;
  padding: 13px 30px;
  text-decoration: none;
  text-align: center;
  color: #e0d2d2;
  margin-left: 60px;
  position: relative;
}


.navigation-area:hover:not(.active) {
  background-color: #ff6347;
}
.active {
  background-color: #ff6347;
}


 .contact-bar {
  border: none;
  width: 190px;
  height: 40px;
  text-align: center;
  padding: 12px 16px;
  background-color: #1ec9cf;
  position: absolute;
  top: 50px;
  right: 0;
}

.number-style {
  font-size: 11px; 
  font-family: Verdana, sans-serif; 
  font-weight: bold; 
  color: #ffffff
}

a[href^="tel:"] {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}

.body-margin {
  margin: 0;
}


