* {
    box-sizing: border-box;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .wraper {
    overflow: hidden;
  }

  .main {
    margin-left: 4px;
  }

  .left-sidebar {
    float: none;
    width: auto;
  }

  .menu-list {
    margin: 0;
    padding: 0;
  }

  .float-left {
    float: left;
  }

  .menu-item {
    background: #CDF0F6;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
  }

  @media screen and (min-width: 420px){
    .left-sidebar {width: 200px; float: left;}
    .menu {margin-left: 216px;}
  }

  .container {
    width: 500px;
    height: 400px;
    background-color: #CDF0F6;
    color: #ffffff;
    margin: 60px;
    padding: 15px;
  }

  @media screen and (max-width: 992px) {
    .container {
        background-color: #008000;
        color: #ff0000;
        margin: 60px;
        padding: 15px;
    }
  }

  @media screen and (max-width: 600px) {
    .container {
        background-color: yellowgreen;
        color: #000000;
        margin: 20px;
        padding: 15px;
    }
  }

.nav-bar {
    overflow: hidden;
    background-color: #333;
}

.nav-a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}

.nav-a:hover {
    background-color: #ddd;
    color: #000000;
}

@media screen and (max-width: 600px) {
    .nav-a {
        float: none;
        width: 100%;
    }
}

.box {
  width: 25%;
  padding: 20px;
  background-color: #5f9ea0;
  text-align: center;
}

@media screen and (max-width: 962px) {
  .box {
    width: 50%
  }
}

@media screen and (max-width: 600px) {
  .box {
    width: 100%;
  }
}

.test-1 {
  width: 240px;
  height: 200px;
  margin-top: 30px;
}

.layer-box {
  width: 240px;
  height: 200px;
  background-color: #000000;
  opacity: 0.4;
  margin-top: 30px;
}